.loader-container{
    position:fixed;
    inset:0;

    background:#0a0a0a;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    z-index:99999;
}

.loader-container h1{
    color:#ffd000;
    font-size:4rem;
    margin-bottom:30px;
}

.loader{
    width:70px;
    height:70px;

    border:6px solid rgba(255,208,0,.2);
    border-top:6px solid #ffd000;

    border-radius:50%;

    animation:spin 1s linear infinite;
}

@keyframes spin{
    to{
        transform:rotate(360deg);
    }
}